@media (max-width: 1500px) {
    .small-titles {
        color: black;
    }
    .small-txt {
        color: black;
    }
}

@media (max-width: 1455px) {
    .map-blocks {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .googlemap {
        max-width: 818px;
        width: 100%;
        height: 500px;
    }
    .form {
        max-width: 818px;
        width: 100%;
        margin-top: 50px;
    }
}



@media (max-width: 1024px) {
    .hamburger {
        display: block;
        padding-right: 20px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #FFB63B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
    }
    .nav-ul.active {
        left: 0;
    }
    .sign-div {
        display: none;
    }
    .header-div {
        justify-content: space-between;
    }
    .four-blocks {
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .footer {

        background-color: transparent;
    }
    .title-txt {
        margin-top: 0px;
    }
    .discover {
        margin-top: 0px;
    }
}



@media (max-width: 1158px) {
    .footer-block-2 {
        display: none;
    }
    .footer-block-3 {
        display: none;
    }
    .footer-block-4 {
        display: none;
    }
    .footer-div {
        justify-content: center;
        align-items: center;
    }
    .row-1, .row-1-2, .row-1-3 {
        flex-wrap: wrap;
    } 
}

@media (max-width: 960px) {
    .two-objects {
        flex-wrap: wrap;
    }
    .object1-img {
        display: none;
    }
    .intouch-img {
        display: none;
    }
    .inTouch-block {
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 768px) {

    .title-txt {
        display: none;
    }
    .maintitle {
        font-size: 40px;
    }
    .discover {
        margin-top: 15px;
    }
}

@media (max-width: 731px) {
    .block-3 {
        display: none;
    }
    .block-4 {
        display: none;
    }
    .block-1 {
        margin-top: 70px;
    }
    .row-1, .row-1-2, .row-1-3 {
        justify-content: center;
        align-items: center;
    } 
}

@media (max-width: 716px) {
    .two-objects {
        justify-content: left;
    }
    .service-ul {
        width: 100%;
    }
}

@media (max-width: 631px) {
    .footer-1-title {
        display: none;
    }
    .footer-1-txt {
        display: none;
    }
    .footer-block-1 {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 560px) {
    .email-block {
        flex-direction: column;
        width: 100%;
    }
    .email-layer {
        width: 100%;
    }
    .footer-1-icons {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 380px) {
    .maintitle {
        color: #E76F51
    }
}